
.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(231, 209, 184);
    border-radius: 5px;
    outline: none;
    padding: 0px 0px 0px 10px;
}

.password {
    background-color: rgb(231, 209, 184);
    border-radius: 5px;
    /*background-color: rgb(4, 154, 154);*/
    /*
    position: relative;
    z-index: 10;
    */
}

.inputContainer .ShowContentContainer{
    /*
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;*/
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShowContentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 100%;
    cursor: pointer;
    width: 23px;
    margin-right: 10px;
}